@import '../mixins';

.button {
    border-radius: 100px;
    font-size: 20px;
    border: 2px solid white;
    font-family: var(--DMsans);
    width: var(--width);
    height: var(--height);
  
    &.primary {
      background: none;
      color: var(--color-theme);
      border: 2px solid var(--color-theme);
    }
  
    &.secondary {
      background-color: var(--color-theme);
      color: white;
      font-family: var(--redhat);
      border: none;
      font-size: 24px;
      border: 2px solid var(--color-theme);
      &:hover{ background-color: var(--dk-theme-background-soft);}
      &:disabled, &:active {
        background: none;
        color: var(--dk-subtext-color);
      }
    }
  
    &.submit {
      background: white;
      color: var(--dk-theme-background-soft);
  
        &:disabled, &:active {
            background: none;
            color: var(--dk-subtext-color);
        }
    }

    @include responsive(smartphone-portrait){
        font-size: 16px;
        width: 100px;
        height: 40px;

        &.secondary {
            font-size: 18px;
            width: 200px;
            height: 50px;
        }
    }
}