@import '../mixins';
footer {
    background-color: var(--dk-theme-background-soft);
    min-height: 450px;
    padding: 5% 5% 20px;
    width: 100%;
    color: white;
  
    .row-top {
      display: flex;
      flex-wrap: wrap;
      height: 90%;
      border-bottom: 2px solid;
      padding-bottom: 20px;
  
        .info, .contact, .send-mail {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .info {
            width: 230px;
    
            h1 { font-size: 40px; }
            h2, h3 { color: var(--dk-subtext-color); padding-bottom: 20px; }
            h3 { font-weight: 500; font-size: 24px; }
            h4 { font-size: 25px; word-break: break-all; margin-bottom: 40px;}
            p { text-align: justify; }
        }
    
        .contact { padding-top: 30px; }
    }

    @include responsive(smartphone-portrait){
        .row-top{
            .info{width: 100%;}
            .send-mail{width: 100%; min-width: 0px; padding-top: 40px;}
            .contact{padding-top: 40px;}
        }
    }
  
    .row-bottom { padding-top: 20px; }
}