@import 'mixins';

.App{
  @include flex-center-column;
}

main{
  max-width: 1900px;
  width: 100%;

  .land-info{
      display: flex;
      height: 670px;
      position: relative;

      div{
          width: 50%;
          position: relative;
          
          .my-image, .vetor{
            max-width: 600px;
            width: 50dvw;
            position: absolute;
            bottom: 0;
          }

          .vetor{
              left: -140px;
              z-index: -10;
          }

          h2{
              margin-top: 100px;
              color: var(--subtext-color);
              font-size: 32px;
              font-weight: 500;
              animation: ItemFadeInRight 1s;
          }
          h1{
              font-size: 44px;
              font-weight: 600;
              margin-bottom: 30px;
              max-width: 510px;
              animation: ItemFadeInRight 2s;
          }
          p{
              color: var(--color-theme);
              padding-bottom: 60px;
              max-width: 510px;
          }
      }
      ul {
          position: absolute;
          bottom: 100px;
          right: 50px;
          display: flex;
          flex-direction: column;
          align-items: end;
          gap: 20px;
        
          li {
            margin-bottom: 10px;
        
            a {
              display: flex;
              align-items: center;
              text-decoration: none;
              font-size: 24px;
              color: black;
        
              &:hover {
                opacity: 1;
        
                svg {
                  margin-left: 15px;
                }
        
                span {
                  max-width: 200px;
                  padding: 5px 20px;
                }
              }
        
              svg {
                transition: margin 0.3s ease-in-out;
              }
        
              span {
                display: inline-block;
                max-width: 0;
                overflow: hidden;
                transition: max-width 0.3s ease-in-out, padding 0.3s ease-in-out; 
                white-space: nowrap;
                margin-right: 10px;
                background: var(--dk-theme-background-soft);
                color: white;
                font-size: 18px;
                padding: 0 0; 
              }
            }
          }
        }
    @include responsive(smartphone-portrait){
      flex-direction: column;
      text-align: center;
      height: 830px;
      
      div{width: 100%; h2{margin-top: 40px;}}
      .image{
        position: absolute;
        bottom: 0;
        img{
          left: 0;
          &.my-image{width: 350px;} &.vetor{width: 350px;}
        }
      }
    }
  }

    section{
        width: 100%;
        background-color: white;
        position: relative;
        bottom: 5px;
        padding: 50px;
        @include responsive(smartphone-portrait){
          padding: 0px;
          @include flex-center-column;
        }
        

        h1{
            text-align: center;
            font-size: 36px;
            font-family: var(--DMsans);
            letter-spacing: 8px;
            font-weight: 500;
            padding: 60px 0px 60px;
        }

        p:hover{
          opacity: 0.7;
        }

        .cards{
            display: flex;
            justify-content: space-around;
            margin-bottom: 70px;
            @include responsive(smartphone-portrait){
              flex-direction: column;
              margin-bottom: 40px;
              .image-card{
                width: 100%; height: 600px; padding: 0px 0px 20px;
              }
            }
        }

        .langs{
            flex-wrap: wrap;
            justify-content: center;
            padding: 0px 2%;

            .card{
              width: 250px;
              height: 230px;

              hr{
                display: none;
              }
            }
        }
    }
}

.gallery{
  width: 100%;

  .menu{
    display: flex;
    justify-content: space-around;

    @include responsive(smartphone-portrait){flex-direction: column;
      align-items: center;
      gap: 30px;}
  }

  .images{
    display: flex;
    padding: 15dvh 50px 200px;
    justify-content: space-evenly;
    flex-wrap: wrap;

    p{font-size: 28px; text-align: center; width: 100%; padding-top: 50px;}
  }
}

.contact{
  display: flex;  
  position: relative;
  width: 100%;
  .image{
    width: 50%;
    img{
      width: 60%;
      max-width: 650px;
      position: absolute;
      bottom: 0;
    }
    .vetor{
      position: absolute;
      bottom: -10px;
      left: -100px;
      z-index: -1;
      width: 50%;
    }
  }
  .contact-form{
    width: 50%;
    height: 80vh;
    .send-mail{
      width: 100%;
      min-width: none;
      height: 100%;
      .mailer{
        height: 100%;
        @include flex-center-column;
        justify-content: center;
        gap: 30px;
        animation: ItemFadeInRight 1s;
        input, textarea{
          width: 100%;
          border-bottom: 2px solid var(--color-theme);
          color: black;
        }
        .input{width: 100%;}
        .small{width: 100%;}
        .fields{
          max-width: 400px;
        }
      }
    }
    form{
      padding: 50px;
      @include flex-center-column;
    }
  }

  @include responsive(smartphone-portrait){
    .image{display: none;}
    .contact-form{width: 100%; height: fit-content; padding-top: 40px;
      .send-mail{min-width: 0;
        form{
          padding: 10px 0px 50px;
        }
      }
    }
  }
}

.projects{
  h1{
    text-align: center;
    font-weight: 600;
    padding: 60px;
  }
  .projects-container{
    display: flex;
    padding: 0px 100px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 80px;
    .project{
      background-color: white;
      width: 100%;
      max-width: 500px;
      margin: 10px 0px;  
      img{width: 100%;height: 250px; object-position: left;
        object-fit: cover;}
      .texts{
        padding: 30px;
        h2{margin-bottom: 10px;}
      }
      .links{
        padding: 20px;
        height: 80px;
        a{
          color: var(--color-theme);
          border: 2px solid;
          padding: 10px;
          margin-right: 20px;
          &:hover{
            opacity: 1;
            background-color: var(--color-theme);
            color: white;
          }
        }
      }
    }
  }
  @include responsive(smartphone-portrait){
    .projects-container{
      padding: 0px 20px 80px;
      .project{
        max-width: 100%;
      }
    }
  }
}

.about{
  display: flex;
  .text, .my-image{
    width: 50%;
    padding: 20px 60px 50px;
    img{
      width: 100%;
      max-width: 600px;
      height: 100%;
      max-height: 800px;
      object-fit: cover;
    }
    h1{ font-size: 48px; letter-spacing: 5px; font-weight: 600;}
    h2{ font-size: 32px; color: #6D5D6E; font-weight: 400; padding: 40px 0px;}
    p{ padding-bottom: 20px; font-size: 18px; font-weight: 200;}
    a{font-weight: 400;
      color: var(--subtext-color);}
    }
  .text{padding-left: 120px;}
  @include responsive(smartphone-portrait){
    flex-direction: column;
    .text, .my-image{width: 100%; padding: 20px;}
  }
}